<section class="row" id="availability">
  <div class="inner">
    <h2 class="row-title hidden">Availability</h2>
    <div class="content-entry">
      <p>I AM AVAILABLE<br><em>FOR HIRE</em></p>
    </div>
  </div>
</section>
