<section class="section" id="availability">
  <h2 class="leftward hidden">Availability</h2>
  <div class="content-entry">
    <% if available? %>
      <p>I AM AVAILABLE<br><em>FOR HIRE</em></p>
    <% else %>
      <p>I AM UNAVAILABLE<br><em>FOR HIRE</em></p>
    <% end %>
  </div>
</section>
