<section class="section" id="labs">
  <div class="row">
    <div class="large-2 columns">
      <h2 class="leftward">Experiments I Did</h2>
    </div>

    <div class="large-10 columns">
      Hello?
    </div>
  </div>
</section>
