<section class="section" id="skills">
  <div class="row">
    <div class="large-2 columns">
      <h2 class="leftward">Techniques I Have</h2>
    </div>

    <div class="large-10 columns">
      <ul class="large-block-grid-4 small-block-grid-2">
        <li>
          <div class="box">
            <a href="http://www.whatwg.org/html" target="_blank">
              <span class="icon-html5-02"></span>
              <div class="ref">HTML</div>
            </a>
          </div>
        </li>

        <li>
          <div class="box">
            <a href="http://www.w3.org/Style/CSS/" target="_blank">
              <span class="icon-css3-02"></span>
              <div class="ref">CSS / SCSS / Compass</div>
            </a>
          </div>
        </li>

        <li>
          <div class="box">
            <a href="http://www.ruby-lang.org/" target="_blank">
              <span class="icon-prog-ruby"></span>
              <div class="ref">Ruby</div>
            </a>
          </div>
        </li>

        <li>
          <div class="box">
            <a href="http://git-scm.com/" target="_blank">
              <span class="icon-vc-git"></span>
              <div class="ref">Git</div>
            </a>
          </div>
        </li>

        <li>
          <div class="box">
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
              <span class="icon-prog-js01"></span>
              <div class="ref">JavaScript</div>
            </a>
          </div>
        </li>

        <li>
          <div class="box">
            <a href="http://jquery.com/" target="_blank">
              <span class="icon-prog-jquery"></span>
              <div class="ref">JQuery</div>
            </a>
          </div>
        </li>

        <li>
          <div class="box">
            <a href="http://angularjs.org/" target="_blank">
              <span class="icon-angularjs"></span>
              <div class="ref">AngularJS</div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
