<section class="row" id="skills">
  <div class="inner">
    <div class="column4">
      <h2 class="row-title">Techniques I Have</h2>
    </div>

    <div class="column16 last">
      <ul>
        <li class="column4 box">
          <a href="http://www.whatwg.org/html" target="_blank">
            <span class="icon-html5-02"></span>
            <div class="ref">HTML</div>
          </a>
        </li>

        <li class="column4 box">
          <a href="http://www.w3.org/Style/CSS/" target="_blank">
            <span class="icon-css3-02"></span>
            <div class="ref">CSS / SCSS / Compass</div>
          </a>
        </li>

        <li class="column4 box">
          <a href="http://www.ruby-lang.org/" target="_blank">
            <span class="icon-prog-ruby"></span>
            <div class="ref">Ruby</div>
          </a>
        </li>

        <li class="column4 last box">
          <a href="http://git-scm.com/" target="_blank">
            <span class="icon-vc-git"></span>
            <div class="ref">Git</div>
          </a>
        </li>

        <li class="column4 box">
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
            <span class="icon-prog-js01"></span>
            <div class="ref">JavaScript</div>
          </a>
        </li>

        <li class="column4 box">
          <a href="http://jquery.com/" target="_blank">
            <span class="icon-prog-jquery"></span>
            <div class="ref">JQuery</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
