<section class="section" id="skills">
  <div class="row">
    <div class="large-2 columns">
      <h2 class="leftward">Techniques I Have</h2>
    </div>

    <div class="large-10 columns">
      <ul class="large-block-grid-4 small-block-grid-2">
        <li>
          <div class="box">
            <div>
              <span class="icon-html5-02"></span>
              <div class="ref">HTML5</div>
            </div>
          </div>
        </li>

        <li>
          <div class="box">
            <div>
              <span class="icon-css3-02"></span>
              <div class="ref">CSS3 / SCSS / Compass</div>
            </div>
          </div>
        </li>

        <li>
          <div class="box">
            <div>
              <span class="icon-prog-ruby"></span>
              <div class="ref">Ruby</div>
            </div>
          </div>
        </li>

        <li>
          <div class="box">
            <div>
              <span class="icon-vc-git"></span>
              <div class="ref">Git</div>
            </div>
          </div>
        </li>

        <li>
          <div class="box">
            <div>
              <span class="icon-prog-js01"></span>
              <div class="ref">JavaScript</div>
            </div>
          </div>
        </li>

        <li>
          <div class="box">
            <div>
              <span class="icon-prog-jquery"></span>
              <div class="ref">JQuery</div>
            </div>
          </div>
        </li>

        <li>
          <div class="box">
            <div>
              <span class="icon-angularjs"></span>
              <div class="ref">AngularJS</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
