@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/block-grid";

.section {
  padding: 35px 0;
}

#container {
  padding: 8px 0 29px;
  position: relative;
}

.hidden {
  display: none;
}

.extra {
  position: absolute;
}

#back_to_top {
  background: #fff;
  padding: 6px 12px;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  @include box-shadow(hsla(0, 0%, 27%, .7) 1px 1px 5px);
  @include border-radius(3px);
}
