<footer id="footer">
  <div class="inner">
    <p>Thanks <a href="https://pictonic.co/free">Pictonic</a>, <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> and <a href="http://subtlepatterns.com/paper-fibers/">Subtle</a> <a href="http://subtlepatterns.com/subtlenet/">Patterns</a></p>
    <p>Copyright 2013 - Ching-Han Ho</p>
  </div>
</footer>
