<section class="row" id="header">
  <div class="inner">
    <header id="container">
      <h1>
        <em itemprop="name">何清翰</em>
        <span itemprop="additionalName">Ching-Han Ho</span>
      </h1>

      <div class="extra message">
        使用麻瓜不懂的魔法，<br>
        試圖撞凹整個宇宙！<br>
      </div>

      <div class="extra avatar-container">
        <a href="/images/chh-avatar.jpg">
          <img src="/images/chh-avatar.jpg" alt="CHH avatar" class="avatar" >
        </a>
      </div>
    </header>
  </div>
</section>
